body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



form {
  font-family: Arial, Helvetica, sans-serif;
  border: 0.15rem solid #000;
  width: 30%;
  margin: 1rem auto;
  padding: 1rem;
}

input {
  display: block;
  width: 100%;
}

input[type="button"], input[type="submit"] {
  margin: 1rem auto;
  width: 20%;

}
button, input {
  overflow: visible;
  margin-bottom: 15px;
}

button{
  background-color: rgb(16, 86, 218);
  color: white;
  padding: 5px;
}

form div {
  margin: 1rem;
  padding: 1rem;
  border: 0.15rem solid #000;
}


h3{
  text-align: center;
  font-weight: bold;
}

h4{
  font-weight: bold;
}

.userRow{
  background-color: blanchedalmond;
  text-align: center;
  border-top-style: solid;
  border-width: 1px;
  border-color: black;
  padding-bottom: 16px;
}

.petRow{
  background-color: blanchedalmond;
  text-align: center;
  border-top-style: solid;
  border-width: 1px;
  border-color: black;
  padding-bottom: 16px;

}

.ownerRow{
  background-color: blanchedalmond;
  text-align: center;
  border-top-style: solid;
  border-width: 1px;
  border-color: black;
}

.masterRow{
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

Col{
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

@media (max-width:480px){
  form {

    width: 10%;

  }
}